*, *::after, *::before {
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex > * {
    margin: 0 20px 20px 0;
}

.auth-logged-in {
    display: flex;
    flex-wrap: wrap;
}
.auth-logged-in > * {
    flex-grow: 1;
    flex-shrink: 0;
    overflow-y: scroll;
    max-height: calc(100vh - 16px);
}
.auth-logged-in > :first-child {
    width: 940px;
    max-width: 100%;
    margin-right: 40px;
}
.auth-logged-in > :last-child {
    width: 400px;
    max-width: 100%;
}

form {
    display: block;
    width: 320px;
    font-family: arial, sans-serif;
}

form a,
form input,
form textarea,
form select {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #444;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    line-height: 24px;
    padding: 0 5px;
    margin-bottom: 5px;
}

form select {
    height: 26px;
}

form a,
form input[type=submit] {
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    background-color: #f5f5f5;
}

form a:hover,
form input[type=submit]:hover {
    background-color: #f0f0f0;
}

#appLog {
    width: 100%;
    height: 500px;
    white-space: pre-wrap;
    font-family: monospace;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    overflow: scroll;
}