#appLog {
    width: 100%;
    height: 300px;
    white-space: pre-wrap;
    font-family: monospace;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    overflow: scroll;
}

form.card {
    height: 100%;
}

.card-title {
    padding-top: 15px;
}

.tab-content > .tab-pane {
    margin-top: -1px;
}

.ckcontent, .tibrr-cookie-consent-container {
    display: none !important;
}

.bg-light-gray {
    background-color: #eaeaea;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1380px;
    }
}


.token-details {
    font-size: 10px;
    border: 1px solid #cccccc;
    padding: 8px 10px 0 10px;
    border-radius: 4px;
    margin-top: 12px;
}

.token-details img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
    visibility: hidden
}


.token-details img[src^="http"] {
    visibility: visible;
}

.loader-overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.3);
}

.async-loading .loader-overlay {
    display: flex;
    z-index: 99999;
}

.async-loading {
    position: relative;
}
