.auth-logged-in {
    display: none;
}

.logged-in .auth-logged-in {
    display: flex;
}

.logged-in .auth-not-logged-in {
    display: none;
}

#sign {
    display: none;
}

#execute {
    display: none;
}