.auth-logged-in {
    display: none;
}

.logged-in .auth-logged-in {
    display: block;
}

.logged-in .auth-not-logged-in {
    display: none;
}

#sign {
    display: none;
}

#execute {
    display: none;
}


#auth-logout {
    font-size: 0.5em;
}

#auth-token {
    width: 80%;
    height: 75px;
}
