.auth-logged-in {
    display: none;
}

.logged-in .auth-logged-in {
    display: flex;
}

.logged-in .auth-not-logged-in {
    display: none;
}

#sign {
    display: none;
}

#execute {
    display: none;
}

.google {
    border: 0;
    width: 191px;
    height: 45px;
    background: url('/assets/img/google-signin.png') no-repeat;
    background-size: 191px 45px;
}

.facebook {
    border: 0;
    width: 200px;
    height: 45px;
    background: url('/assets/img/facebook-signing.png') no-repeat;
    background-size: 200px 45px;
}

.twitter {
    border: 0;
    width: 180px;
    height: 35px;
    background: url('/assets/img/twitter-signin.png') no-repeat;
    background-size: 180px 35px;
}

.apple {
    border: 0;
    width: 180px;
    height: 35px;
    background: url('/assets/img/apple-signin.jpg') no-repeat;
    background-size: 180px 35px;
}
